/* src/app/page.module.css */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25vw;
}

.button {
    background-color: #28b28f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #008060;
}